#itemThumb {
  height: auto;
  width: auto;
  max-width: 60px;
  max-height: 60px;
  /*width: 242px;
  height: 200px;*/
}

#splash {
  width:70%;
  height: 50%;
}

.jumbotron {
  padding: 10px;
}

form {
  margin-top: 15px;
}
