#itemThumb {
  height: auto;
  width: auto;
  max-width: 242px;
  max-height: 200px;
  /*width: 242px;
  height: 200px;*/
}

.thumbnail {
  text-align: center;
  display: inline-block;
  height: 450px;
  width: 300px;
}

#splash {
  width:70%;
  height: 50%;
}

.jumbotron {
  padding: 10px;
}

form {
  margin-top: 15px;
}
