<div class="jumbotron">

  <h1>Select an item to trade</h1>
  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="n in userItemList track by $index">
      <div class="thumbnail" style="text-align:center">
        <div class="caption">
          <h3>
            {{n.name}}</h3>
          <p>
            <strong>Value:</strong>
            {{n.value}}</p>
          <p>
            <strong>Description:</strong>
            {{n.description}}</p>
          <button class="btn btn-primary" ng-click="tradeItem(n._id)">Select</button>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
