<header ng-controller="NavCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="index">Trading App</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li >
          <a href='' ng-show="auth" ng-click="logout()">
            <i class="fa fa-key"></i>
            Logout
          </a>
        </li>
        <li ng-hide="auth">
          <a ui-sref="login">
            <i class="fa fa-key"></i>
            Login
          </a>
        </li>
         <!-- ng-show="auth" -->
        <li>
          <a ui-sref="manage">
            <i class="fa fa-key"></i>
            Manage Items
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
